conda.enabled = true
conda.cacheDir = "${System.getProperty('user.home')}/.nextflow/conda"

params{
    input = "${projectDir}/Input/fastq"

    reference = "${projectDir}/data/Homo_sapiens.GRCh38.cdna.all.fa.gz"
    index = "${projectDir}/data/kallisto_transcriptome.idx"

    t2g_mapping = "${projectDir}/data/Homo_sapiens.GRCh38.116.gtf.gz"
    mapped_t2g = "${projectDir}/data/t2g.tsv"

    report_id = "all_reads"
}

profiles {
    local {
        executor {
            name = 'local'
            cpus = 20  // Local is a 16 core 24 thread cpu. Reserve 4 threads for OS/UI.
        }
        process {
            withName: 'align' {
                cpus = 6
                ext.args = {"--threads ${task.cpus}"} 
            }
        }
    }
    hpc {
        process {
            executor = 'slurm'
            withName: 'align' {
                cpus = 32
                ext.args = {"--threads ${task.cpus}"} 
            }
        }
    }
}